{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<h2 class="text-white bg-dark">Log In</h2>
<form method="post" class="text-white bg-dark">
  {% csrf_token %} {{ form|crispy }} {{form.otp}} {{form.otp.label}}
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Enter OTP here"
      aria-label="Recipient's otp"
      aria-describedby="basic-addon2"
    />
    <div class="input-group-append">
      <button class="btn btn-outline-light" type="button">Verify OTP</button>
    </div>
  </div>
  <button class="btn btn-light ml-2" type="submit">Log In</button>
  <p><a href="{% url 'password_reset' %}">Forgot passowrd?</a></p>
</form>
{% endblock content %}
